.bg-img {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url("C:\Users\DELL\Desktop\MERN_FINAL_APP\client\src\img\bg-offers.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  margin-top: -1cm;
}

.cont {
  color: black;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.cont {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
